#!/usr/bin/make -f

build:

clean:
	dh_clean

binary-arch:

binary-indep: build
	dh_testdir
	dh_testroot

	dh_installchangelogs
	dh_installdirs
	dh_install
	dh_installcron
	dh_installlogrotate
	dh_installdocs
	dh_installman

	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

clean:

.PHONY: binary binary-indep clean build
